@import './fonts';
@import './settings.scss';
@import '../../../node_modules/foundation-sites/scss/foundation';

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

@import 'spashscreen.scss';

.navbar {
  background: $primary-color;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 2rem 0.75rem 0.25rem 0.75rem;
  > div {
    img {
      height: 32px;
      margin-bottom: 0.25rem;
    }
    a {
      display: block;
    }
    &:last-child {
      text-align: right;
    }
    .pageTitle {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      line-height: 32px;
      letter-spacing: 0.05rem;
      color: white;
    }
  }
}

.footerNav {
  background: $dark-gray;
  color: white;
  position: fixed;
  padding: 0.75rem 0.75rem 0.25rem 0.75rem;
  bottom: 0;
  right: 0;
  left: 0;
  > div {
    text-align: center;
    font-size: 12px;
    &.inactive {
      transition-property: opacity;
      transition-timing-function: ease-in;
      transition-duration: 0.2s;
      opacity: 0.6;
    }
    a {
      display: block;
      color: white;
    }

    img {
      height: 32px;
      margin-bottom: 0.25rem;
    }
  }
}

.page {
  margin-top: 76px;
  .row:first-of-type {
    padding-top: 0.75rem;
  }
}
